/*
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  src: local('Signika-Semibold'), url("../fonts/Signika-Semibold.woff") format('woff');
}
*/
@font-face {
  font-family: "MetaWebPro-Normal";
  font-style: normal;
  font-weight: 400;
  src: url("//www.uni-muenster.de/imperia/md/content/allgemein/farbunabhaengig/fonts/metawebpro-normal.eot?#iefix") format("embedded-opentype"), url("//www.uni-muenster.de/imperia/md/content/allgemein/farbunabhaengig/fonts/metawebpro-normal.woff") format("woff"), url("//www.uni-muenster.de/imperia/md/content/allgemein/farbunabhaengig/fonts/metacomppro-normal.ttf") format("truetype"), url("//www.uni-muenster.de/imperia/md/images/allgemein/farbunabhaengig/fonts/metacomppro-normal.svg#metacomppro-normal") format("svg");
}

body {
	padding-top: 70px;
}

html, body {
	height: 100%;
	width: 100%;
	color:#252525;
}

#content {
	height:100%;
}

div.container {
	padding:0;
}


/* 
	Text & Links auf Startseitenkacheln
*/
div#tiles a:hover span.tiletitle {
	text-shadow: 0 0 5px rgba(0,0,0,0.6);
	text-decoration: none;
}

div#tiles a:active span.tiletitle {
	text-shadow: 0 0 5px rgba(0,0,0,1);
	text-decoration: none;
}

div#tiles div.logo a:hover img {
	background-color:#eee;
}

div.tile:hover {
	padding:-5px;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
	z-index: 99;
	opacity: 0.9;
}

div.tile span.tiletitle {
	position: absolute;
	width:100%;
	bottom: 5px;
	left:0px;
	font-family: 'MetaWebPro-Normal', sans-serif;
	font-weight: 600;
	font-size: 2.2em;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

div.tile.smalltile span.tiletitle {
	font-size:1.5em;
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* 
	Kachelgröße an den umliegenden Container anpassen 
*/
img.front {
	width: 100%;
	height: auto;
}

/* Kacheln auf der Startseite liegen in <ul> & <li> Elementen */
ul#nav, ul#nav li {
	margin: 0;
	padding: 0;
}

ul#nav li {
	list-style: none;
}

div.tile img {
	padding:10px;
}

/* 
	Kachelgrößen für große Bildschirme
*/
div.tile {
	width:100%;	
	padding: 0px;
	position: relative;
	float:left;
	max-width: 33%;
	max-width: calc(100% / 3);
	min-width: 120px;
}
div.tile a img {
	width:100%;	
}

div.tile.smalltile {
	max-width: 16.5%;
	max-width: calc(100% / 6);
	min-width: 60px;
}

/* 
	Kachelgrößen für kleine Bildschirme anpassen
*/

@media (max-width: 600px) {
	div.tile {
		max-width: 50%;
	}

	div.tile.smalltile {
		max-width: 25%;
	}

	div.tile span.tiletitle {
		font-size:1.5em
	}
	
	div.tile.smalltile span.tiletitle {
		font-size:1em
	}
}

@media all and (orientation:landscape) and (max-width: 1024px) {
	div.tile {
		max-width: 25%;
	}

	div.tile.smalltile {
		max-width: 12.5%;
	}

	div.tile span.tiletitle {
		font-size:1.5em
	}
	
	div.tile.smalltile span.tiletitle {
		font-size:1em
	}
}

/* 
	Kachelfarben
*/

.fachbereiche {
	background-color:#b1c800;
}
.favoriten {
	background-color:#009dd1;
}
.hoersaele {
	background-color:#7ab51d;
}
.info {
	background-color:#ffd400;
}
.karte {
	background-color:#7ab51d;
}
.mensen {
	background-color:#2a6c8c;
}
.ulb-katalog {
	background-color:#2a6c8c;
}
.uni-a-z {
	background-color:#009dd1;
}
.wohnheime {
	background-color:#b1c800;
}

/*
	nav verkleinern zu Leiste mit der .navbar Klasse
*/
div#tiles.navbar {
	border:0;
}

div#tiles.navbar .logo {
	display:none;
}

div#tiles.navbar div.tile {
	max-width: 11.11%;
	min-width: 60px;
}

div#tiles.navbar div.tile.smalltile {
	max-width: 11.11%;
	min-width: 60px;
}

div#tiles.navbar div.tile span.tiletitle {
	font-size:1em;
}

div#tiles.navbar div.tile.smalltile span.tiletitle {
	font-size:1em;
}

@media all and (orientation:landscape) and (max-width: 1024px) {
	div#tiles.navbar div.tile {
		max-width: 11.11%;
		min-width: 60px;
	}

	div#tiles.navbar div.tile.smalltile {
		max-width: 11.11%;
		min-width: 60px;
	}

	div#tiles.navbar div.tile span.tiletitle {
		font-size:0.8em;
	}
	
	div#tiles.navbar div.tile.smalltile span.tiletitle {
		font-size:0.8em;
	}
}

/* wwu, lodum & ifgi logo on info page match container width */
.logoimgs {
	max-width:100%;
}

.navbar-nav li.frontpage-nav.karte {
	background-image:url(../img/front-karte.svg);
}
.navbar-nav li.frontpage-nav.mensen {
	background-image:url(../img/front-mensen.svg);
}
.navbar-nav li.frontpage-nav.uni-a-z {
	background-image:url(../img/front-uni-a-z.svg);
}

/*
	Branding text and logo
*/
.navbar > .container .navbar-brand {
	margin-left:0px;
	cursor:pointer;
	color:#fff;
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.navbar > .container .navbar-brand:hover {
	color:#fff;
}

.navbar-nav>li>a {
	padding-top: 15px;
}

.navbar-nav {
	margin: 0px;
}

.branding-img {
	padding-right:50px;
	vertical-align:text-top;
	height:30px;
	width:70px;
	background-image:url(../img/wwu-icon-w.png);
	background-repeat: no-repeat;
}

.dropdown.open .branding-img { 
	background-image:url(../img/wwu-icon-b.png);
}

/* evenly distribute the letters on UniA-Z */
div.az {
	line-height:50px;
}
div.az a {
	width:50px;
}
.az-inner ul {
	list-style: none;
	padding: 0;
}
.az-inner ul li {
	display: inline-block;
}

#az-result-list {
	list-style: none;
	padding: 0;
	max-width: 100%;
}
#az-result-list li {
	text-align: left;
}
#az-result-list li a {
	width: 100%;
	height: 100%;
	display: block;
	white-space: normal;
}

#orgaSearchFailed p {
	padding:15px;
}
#orgaMap {
	height:66%;
}

/*
	Use classes instead of IDs for maps, or else map will
	not load properly load (wrong zoom and center point)
*/
.orgaMap {
	height:66%;
}
.overviewMap {
	height:100%;
}

/*
	Loading animation
*/
.loading-animation {
	background-image:url('../img/loader-big.gif');
	background-position:50% 0px;
	background-repeat:no-repeat;
	min-height:256px;
}

