//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}

//
// Campusplan Specific Addins
// -----------------------------------------------------

/* dynamically resizable icons on the start page */
img.frontimg{
	max-width: 50%;
    height: auto;
    vertical-align: top;
    float: left;
}

img.frontimg-s{
	max-width: 25%;
    height: auto;
    vertical-align: top;
    float: left;
}

img.logoimg{
	max-width: 39%;
    height: auto;
    margin: 2% 5% 0 5%;
    float: right;
}

img.logoimgs{
	width: 180px;
    height: auto;
    margin: 2% 1% 0 5%;    
}

/* resize icons in top menu */
img.menuimgs{
	max-width: 11.1%;
	height: auto;
	margin: 0;
	float: left;
}

/* letter buttons in Uni A-Z list:  */
.btn-letter{
	width: 5%;
	margin: 1%;
} 

.btn-org{
	width: 95%;
	text-align: left;	
}

img.navbarlogo{
	height: 16px;
	width: auto;
	padding-bottom: 6px;
	margin-right: 10px;
	margin-left: 8px;
}

div.content{
	margin-bottom: 13%;
}

@media (max-width: 767px) {
	div.content{
		margin-top: 70px;
	}
}

input.searchfield{
	min-width: 240px;
	width: 50%;
	height: 35px;
	font-size: 20px;
}