<div class="container-fluid">
	<div class="col-xs-12">
		<h1>WWU Campusplan</h1>
	</div>
</div>
<div class="container-fluid">
	<div class="col-md-6">
		<p class="lead">Web App Version 2.0</p>

		<p>Die WWU Campusplan Webapp wird als Open Source Projekt vom <a href="http://ifgi.uni-muenster.de" target="_blank">Institut für Geoinformatik</a> und der <a href="http://www.uni-muenster.de/journalisten/ansprechpartner.shtml">Pressestelle</a> gepflegt. Der Code befindet sich auf <a href="https://github.com/lodum/Campusplan">GitHub</a> – Verbesserungsvorschläge von programmierfreudigen per <a href="https://help.github.com/articles/using-pull-requests" target="_blank">Pull Request</a> werden gern angenommen.</p>

		<p class="lead" align="center" style="margin: 30px 0 30px"><a class="btn btn-info btn-large" href="mailto:campusplan-support@uni-muenster.de?&amp;subject=Campus%20Plan%20Web%20App%20Feedback">Feedback senden</a></p>
	</div>
	<div class="col-md-6">
		<p class="lead">Copyright Hinweise</p>

		<p>Kartendaten &copy; <a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a>. Die Navigation für Radfahrer, Fußgänger und Autos wird von <a href="http://cloudmade.com/" target="_blank">Cloudmade</a> zur Verfügung gestellt.</p>

		<p>Die App basiert auf offenen Daten, die im Rahmen der <a href="http://lodum.de" target="_blank">Linked Open Data University of Münster</a> Initiative auf <a href="http://data.uni-muenster.de" target="_blank">data.uni-muenster.de</a> zur Verfügung gestellt werden.</p>

		<p>Die Icons stammen von <a href="http://iconmonstr.com/" target="_blank">Iconmonstr</a> (Creative Commons Lizenz), <a href="http://thenounproject.com/" target="_blank">The Noun Project</a> (Public Domain), <a href="http://erikflowers.github.io/weather-icons/" target="_blank">Wettericons</a> von Lukas Bischoff & Erik FLowers (SIL OFL 1.1 & MIT License).</p>
	</div>
</div>
<div class="container-fluid">
<div class="col-md-4 col-xs-12">
	<a href="http://www.uni-muenster.de" target="_blank"><img src="img/wwu-full.png" class="logoimgs" /></a> 
</div>
<div class="col-md-4 col-xs-12">
	<a href="http://lodum.de"><img src="img/lodum.png" class="logoimgs" /></a> 
</div>
<div class="col-md-4 col-xs-12">
	<a href="http://ifgi.uni-muenster.de" target="_blank"><img src="img/ifgi.png" class="logoimgs" /></a>
</div>
</div>