<div ng-controller="MensenController">
	<div class="container-fluid" cg-busy="mensaLoading">
		<div class="col-md-12">
			<h1>Mensaplan für die Woche vom {{ mondayDate | date:'dd. MMMM yyyy' }}</h1>
		</div>

		<div ng-repeat="day in mensaData" class="col-md-12">
			<h3 data-toggle="collapse" data-target="#table{{ day.meta.dayOfWeek }}" id="{{ day.meta.dayOfWeek }}">
				<span class="glyphicon glyphicon-plus"></span>
				{{ day.meta.dayOfWeekNameGer }}
			</h3>
			<div id="table{{ day.meta.dayOfWeek }}" class="collapse" ng-class="{in: day.meta.dayOfWeek==dayOfWeek}">
			<table ng-repeat="mensa in day.fooddata" class="table table-bordered table-striped">
				<thead>
					<tr><th><a href="Organisation/{{ mensa.mensa.uri }}">{{ mensa.mensa.name }}</a></th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="food in mensa.food">
						<td>{{ food.name }}<span style="float:right">{{ food.minPrice }}&euro; | {{ food.maxPrice }}&euro;</span></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>

		<div class="col-xs-12" ng-model="result" ng-show="mensenQueryFail">
			<p class="bg-danger">Beim Abfragen des Mensaplans ist ein Fehler aufgetretetn.</p>
		</div>

	</div>
</div>