<leaflet class="orgaMap" markers="orgMarkers" defaults="mapDefaults" center="orgaMarkers"></leaflet>
<div class="container-fluid">
	<div class="col-xs-12" ng-show="orgaSearchSuccess">
		<h2>{{ orga.name.value }}</h2>
		{{ orga.address.value }} <br>
		<br>
		<div class="btn-group-vertical">
		<a class="btn btn-sm btn-default" href="{{ orga.homepage.value }}"><span class="glyphicon glyphicon-globe" target="_blank"></span> Webseite</a>
		<a class="btn btn-sm btn-default" href=""><span class="glyphicon glyphicon-star"></span> zu Favoriten</a>
		</div>
	</div>
	<div class="col-xs-12" ng-show="orgaSearchFailed">
		Keine Ergebnisse.
	</div>
</div>
