<div class="fullheight" cg-busy="orgaLoading">
<leaflet class="orgaMap" markers="orgMarkers" geojson="geojson" defaults="mapDefaults" center="orgaMarkers" ng-show="orgaHasCoords"></leaflet>

<div class="container-fluid">
	<div class="col-xs-12" ng-show="orgaSearchSuccess">
		<h2>{{ orga.name.value }}</h2>
		{{ orga.address.value }} <br>
		<br>
		<div class="btn-group-vertical">
		<a class="btn btn-sm btn-default" href="{{ orga.homepage.value }}" ng-show="orga.homepage.value.length > 3"><span class="glyphicon glyphicon-globe" target="_blank"></span> Webseite</a>
		<a class="btn btn-sm btn-default" href="" ng-click="addFav()" ng-class="{'btn-warning': inFav}"><span class="glyphicon glyphicon-star"></span> zu Favoriten</a>
		</div>
	</div>

	<div class="col-xs-12" ng-show="orgaHasMensa">
		<h3>Mensaplan für die Woche vom {{ mensaData[1].meta.date | date:'dd. MMMM yyyy' }}</h3>
		<div class="row">
		<div ng-repeat="day in mensaData" id="table{{ day.meta.dayOfWeek }}" class="col-md-6">
		<table ng-repeat="mensa in day.fooddata" class="table table-bordered table-striped">
			<thead>
				<tr><th>{{ day.meta.dayOfWeekNameGer }}</a></th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="food in mensa.food">
					<td>{{ food.name }}<span style="float:right">{{ food.minPrice }}&euro; | {{ food.maxPrice }}&euro;</span></td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
	</div>

	<div class="col-xs-12" ng-show="orgaHasSubOrga">
		<h3>Untergeordnete Einrichtungen</h3>
		<table class="table table-bordered table-striped">
			<tbody>
				<tr ng-repeat="orga in orgaSubOrgaData">
					<td><a href="Organisation/{{ orga.orga.value.split('context/').pop() }}">{{ orga.name.value }}</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-xs-12 apiFailed" ng-model="result" ng-show="orgaSearchFailed">
		<p class="bg-danger">Beim Abfragen dieser Organisation ist ein Fehler aufgetreten.</p>
	</div>

	<div class="col-xs-12"><p></p></div>
</div>
</div>