<p>Bestand der WWU: 3.5 Mio. Bücher + 200 Mio. Artikel</p>

<form method="get" action="http://disco.uni-muenster.de/primo_library/libweb/action/search.do">
	<div class="searchFieldRibbon">
		<div class="searchFieldRibbonFormFields">
			<div class="searchFieldRibbonFormSearchFor">
				<label class="hide" for="search_field">Search For:</label>
				<input class="blur" accesskey="s" id="search_field" value="" name="vl(freeText0)" type="text">
			</div>	
			<input value="scope:(&quot;ULBMS&quot;),primo_central_multiple_fe" name="scp.scps" id="activescope" type="hidden">
			<input value="Basic" name="mode" id="mode" type="hidden">
			<input value="default_tab" name="tab" id="tab" type="hidden">
			<input value="1" name="indx" id="indx" type="hidden">
			<input value="true" name="dum" id="dum" type="hidden">
			<input id="str" value="rank" name="srt" type="hidden">
			<input value="ulb" name="vid" id="vid" type="hidden">
			<input value="" name="frbg" id="frbg" type="hidden">
			<input value="go" name="fn" id="fn" type="hidden">
			<input value="search" name="ct" id="ct" type="hidden">
		</div>
		<div class="searchFieldRibbonFormSubmitSearch">
			<input accesskey="g" class="submit" value="Suchen" id="goButton" type="submit">
		</div>
	</div>
</form>