<div ng-controller="WetterController">
	<div class="container-fluid">
		<div class="col-md-6">
			<h1>Wetter</h1>
			<p class="lead">Das Wetter in Münster</p>
		</div>

		<div class="col-xs-12" ng-model="result" ng-show="wetterSuccess">
				
				<div>
					<table style="margin-left:auto;margin-right:auto">
					<tr>
					<td style="vertical-align:middle">
						<i class="wi wi-forecastio-{{wetter.currently.icon}}" style="font-size:9em;float:left;padding:5px"></i>
					</td>
					<td style="vertical-align:middle">
						<p style="vertical-align:middle; font-size:1.8em;padding:5px; line-height:100%">
						<span><b>{{ wetter.currently.time*1000 | date:'H:mm' }} Uhr</b></span><br>
						<span style="font-size:smaller">{{ wetter.currently.time*1000 | date:'dd. MMMM yyyy' }}</span><br>
						<span>{{ wetter.currently.temperature | number:0 }}°C</span><br>
						<span>{{ wetter.currently.summary }}</span><br>
						<span ng-show="wetter.currently.precipProbability !== 0">Niederschlagswahrsch. {{ wetter.currently.precipProbability*100 | number:0 }}%</span>
						</p>
					</td>
					</tr>
					</table>
				</div>

				<hr style="clear:both">
				<h2>Wettervorhersage für die nächsten Stunden</h2>
				<div ng-repeat="wh in wetter.hourly.data | limitTo:12" style="text-align:center;padding:15px" class="col-md-2 col-xs-6" ng-class-odd="'clearfix-small'" ng-class="{ 'clearfix-big': $index%6==0 }">
					<i class="wi wi-forecastio-{{wh.icon}}" style="font-size:2em;padding:5px"></i><br>
					<span style="vertical-align:middle; font-size:1em;padding:5px">
					<b>{{ wh.time*1000 | date:'H:mm' }} Uhr</b><br>
					{{ wh.temperature | number:0 }}°C<br>
					{{ wh.summary }}<br>
					<span ng-show="wh.precipProbability !== 0">
						NW {{ wh.precipProbability*100 | number:0 }}%
					</span>
					</span>
				</div>

				<div class="footnote">
					NW = Niederschlagswahrscheinlichkeit
				</div>

				<hr style="clear:both">
				<h2>Wettervorhersage für die nächsten Tage</h2>
				<div ng-repeat="wh in wetter.daily.data | limitTo:6" style="text-align:center;padding:15px" class="col-sm-4" ng-class="{ 'clearfix-big': $index%3==0 }">
					<i class="wi wi-forecastio-{{wh.icon}}" style="font-size:2em;padding:5px"></i><br>
					<span style="vertical-align:middle; font-size:1em;padding:5px">
					<b>{{ wh.time*1000 | date:'EEEE, dd. MMMM' }}</b><br>
					<span style="color:#00b"><b>{{ wh.temperatureMin | number:0 }}</b></span> bis <span style="color:#b00"><b>{{ wh.temperatureMax | number:0 }}</b></span>°C<br>
					{{ wh.summary }}
					</span>
				</div>

				<div class="footnote">
					Wetterdaten von <a href="http://forecast.io/" target="_blank">Forecast.io</a>.
				</div>
		</div>

		<div class="col-xs-12 apiFailed" ng-show="wetterFailed">
			<p class="bg-danger">Beim Abfragen des Wetters ist ein Fehler aufgetretetn.</p>
		</div>

		<div class="col-xs-12 spacer">&nbsp;</div>
	</div>
</div>