<div ng-controller="WetterController">
	<div class="container-fluid">
		<div class="col-md-6">
			<h1>Wetter</h1>
			<p class="lead">Das Wetter in Münster</p>
		</div>

		<div class="col-xs-12" ng-model="result" ng-show="wetterSuccess">
				<i class="wi wi-forecastio-{{wetter.currently.icon}}" style="font-size:5em;float:left;padding:5px"></i>
				<p style="vertical-align:middle; font-size:1.8em;padding:5px">
				{{ wetter.currently.time*1000 | date:'dd. MMMM yyyy H:mm' }}<br>
				{{ wetter.currently.temperature }}°C<br>
				{{ wetter.currently.summary }}
				</p>

				<hr>
				<h2>Wettervorhersage für die nächsten Stunden</h2>
				<div ng-repeat="wh in wetter.hourly.data | limitTo:6">
					<i class="wi wi-forecastio-{{wh.icon}}" style="font-size:2em;float:left;padding:5px"></i>
					<p style="vertical-align:middle; font-size:1em;padding:5px">
					{{ wh.time*1000 | date:'H:mm' }}<br>
					{{ wh.temperature }}°C<br>
					{{ wh.summary }}
					</p>
				</div>

				<hr style="clear:both">
				<h2>Wettervorhersage für die nächsten Tage</h2>
				<div ng-repeat="wh in wetter.daily.data | limitTo:7">
					<i class="wi wi-forecastio-{{wh.icon}}" style="font-size:2em;float:left;padding:5px"></i>
					<p style="vertical-align:middle; font-size:1em;padding:5px">
					{{ wh.time*1000 | date:'EEEE, dd. MMMM' }}<br>
					{{ wh.temperatureMin }} bis {{ wh.temperatureMax }}°C<br>
					{{ wh.summary }}
					</p>
				</div>
		</div>

		<div class="col-xs-12 apiFailed" ng-model="result" ng-show="wetterFailed">
			<p class="bg-danger">Beim Abfragen des Wetters ist ein Fehler aufgetretetn.</p>
		</div>

	</div>
</div>