<div>
	<div class="container-fluid" cg-busy="wohnheimeLoading">
		<div class="col-md-6">
			<h1>Wohnheime</h1>
			<p class="lead">Studentenwohnheime des Studentenwerks in Münster</p>

			<form>
				<div class="input-group input-group-lg">
	  				<input ng-model="inputsearchterm" required class="form-control" name="search" placeholder="Nach Wohnheim suchen" type="text">
	  				<span class="input-group-btn">
	  					<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
	  				</span>
				</div>
			</form>
		</div>

		<div class="col-xs-12"><p></p></div>

		<div class="col-xs-12" ng-model="result" ng-show="wohnheimeSuccess">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Wohnheime</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="wh in wohnheime | filter: inputsearchterm">
						<td><a href="Organisation/{{ wh.fb.value.split('context/').pop() }}">{{ wh.name.value }}</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-xs-12 apiFailed" ng-show="wohnheimeFailed">
			<p class="bg-danger">Beim Abfragen der Wohnheime ist ein Fehler aufgetreten.</p>
		</div>

	</div>
</div>