<div ng-controller="WohnheimeController">
	<div class="container-fluid" cg-busy="wohnheimeLoading">
		<div class="col-md-6">
			<h1>Wohnheime</h1>
			<p class="lead">Studentenwohnheime des Studentenwerks in Münster</p>
		</div>

		<div class="col-xs-12" ng-model="result" ng-show="wohnheimeSuccess">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Wohnheime</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="wh in wohnheime">
						<td><a href="Organisation/{{ wh.fb.value.split('context/').pop() }}">{{ wh.name.value }}</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-xs-12 apiFailed" ng-model="result" ng-show="wohnheimeFailed">
			<p class="bg-danger">Beim Abfragen der Wohnheime ist ein Fehler aufgetreten.</p>
		</div>

	</div>
</div>