<div class="container-fluid">
	<div class="col-xs-12">
		<h1>Campusplan Informationen</h1>
	</div>
</div>
<div class="container-fluid">
	<div class="col-md-6">
		<h2>Web-App Version 2.0</h2>

		<p>Die Campusplan Web-App wird als Open Source Projekt vom <a href="http://ifgi.uni-muenster.de" target="_blank">Institut für Geoinformatik</a> gepflegt. Der gesamte Code für dieses Projekt befindet sich auf <a href="https://github.com/lodum/Campusplan">GitHub</a> – Verbesserungsvorschläge von programmierfreudigen Entwicklern per <a href="https://help.github.com/articles/using-pull-requests" target="_blank">Pull Request</a> werden gern angenommen.</p>

		<p>Bei Fragen, Wünschen und Fehlern schickt uns bitte eine Nachricht.</p>

		<p class="lead infobuttons" align="center" style="margin: 30px 0 30px">
			<a class="btn btn-info btn-large" href="mailto:campusplan-support@uni-muenster.de?&amp;subject=Campus%20Plan%20Web%20App%20Feedback"><img src="img/email.png" alt="Email"> Feedback senden</a>
			<a class="btn btn-info btn-large" href="https://github.com/lodum/Campusplan" target="_blank"><img src="img/github.png" alt="Github Logo"> Github Repository</a>
		</p>
	</div>
	<div class="col-md-6">
		<h2>Copyright Hinweise</h2>

		<p>Die Kartendaten stammen von <a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a>, die Kacheln von Mapquest Open.</p>

		<p>Die App basiert zum größten Teil auf offenen Daten, die im Rahmen der <a href="http://lodum.de" target="_blank">Linked Open Data University of Münster</a> Initiative auf <a href="http://data.uni-muenster.de" target="_blank">data.uni-muenster.de</a> zur Verfügung gestellt werden.</p>

		<p>Die Daten der Mensen stammen von den Seiten des <a href="http://www.studentenwerk-muenster.de/" target="_blank">Studentenwerks Münster</a> und stehen über eine <a href="https://github.com/chk1/mensaparser" target="_blank">inoffizielle API</a> zur Nutzung bereit.</p>

		<p>Die hier verwendeten Icons und Symbole (in der Navigation, auf den Buttons usw.) stammen teilweise von und/oder sind abgewandelt von <a href="http://iconmonstr.com/" target="_blank">Iconmonstr</a> (Creative Commons Lizenz) und <a href="http://thenounproject.com/" target="_blank">The Noun Project</a> (Public Domain). Die <a href="http://erikflowers.github.io/weather-icons/" target="_blank">Wettericons</a> kommen von Lukas Bischoff & Erik Flowers (SIL OFL 1.1 & MIT License).</p>
	</div>
</div>
<div class="container-fluid">
<div class="col-md-4 col-xs-12">
	<a href="http://www.uni-muenster.de" target="_blank"><img src="img/wwu-full.png" class="logoimgs" /></a> 
</div>
<div class="col-md-4 col-xs-12">
	<a href="http://lodum.de"><img src="img/lodum.png" class="logoimgs" /></a> 
</div>
<div class="col-md-4 col-xs-12">
	<a href="http://ifgi.uni-muenster.de" target="_blank"><img src="img/ifgi.png" class="logoimgs" /></a>
</div>
</div>
