<div>
	<div class="container-fluid" cg-busy="mensaLoading">
		<div class="col-md-12" ng-show="mensenQuerySuccess">
			<h1>Mensaplan für die Woche vom {{ mensaData[1].meta.date | date:'dd. MMMM yyyy' }}</h1>
		</div>

		<div ng-repeat="day in mensaData" class="col-md-12 mensa-table" ng-show="mensenQuerySuccess">
			<a href="" data-toggle="collapse" data-target="#table{{ day.meta.dayOfWeek }}">
			<h3 class="colMensen" style="color:#fff;padding:10px" id="{{ day.meta.dayOfWeek }}">
				<i class="fa fa-fw" ng-class="(day.meta.dayOfWeek==dayOfWeek || (day.meta.dayOfWeek == 1 && expandMonday)) ? 'fa-angle-down':'fa-angle-right' "></i> {{ day.meta.dayOfWeekNameGer }}
			</h3>
			</a>
			<div id="table{{ day.meta.dayOfWeek }}" class="collapse" ng-class="{in: day.meta.dayOfWeek==dayOfWeek || (day.meta.dayOfWeek == 1 && expandMonday) }">
			<table ng-repeat="mensa in day.fooddata" class="table table-bordered table-striped">
				<thead>
					<tr><th><a href="Organisation/{{ mensa.mensa.uri.split('context/').pop() }}">{{ mensa.mensa.name }}</a></th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="food in mensa.food" ng-hide="mensa.food[$index].closed==1 && mensa.food[$index-1].closed==1">
						<td>{{ food.name }}<span style="float:right" ng-hide="food.closed==1">{{ food.minPrice }}&euro; | {{ food.maxPrice }}&euro;</span></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div class="footnote col-md-12" ng-show="mensenQuerySuccess">
			Alle Angaben ohne Gewähr, Änderungen vorbehalten
		</div>

		<div class="col-md-12" ng-show="mensenQueryFailed">
			<h1>Mensaplan</h1>
		</div>
		<div class="col-xs-12 apiFailed" ng-show="mensenQueryFailed">
				Informiere dich über das aktuelle Menü direkt auf den Seiten des Studentenwerks:<br /><br />
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Mensen</th>
						</tr>
					</thead>
					<tbody>
						<tr><td><a href="Mensen/aasee">Mensa am Aasee</a></td></tr>
						<tr><td><a href="Mensen/ring">Mensa am Ring</a></td></tr>
						<tr><td><a href="Mensen/bispinghof">Mensa Bispinghof</a></td></tr>
						<tr><td><a href="Mensen/davinci">Mensa Da Vinci</a></td></tr>
						<tr><td><a href="Mensen/steinfurt">Mensa Steinfurt</a></td></tr>
					</tbody>
				</table>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Bistros</th>
						</tr>
					</thead>
					<tbody>
						<tr><td><a href="Mensen/coerdehof">Bistro Coerdehof</a></td></tr>
						<tr><td><a href="Mensen/denkpause">Bistro Denkpause</a></td></tr>
						<tr><td><a href="Mensen/durchblick">Bistro Durchblick</a></td></tr>
						<tr><td><a href="Mensen/frieden">Bistro Frieden</a></td></tr>
						<tr><td><a href="Mensen/huefferstift">Bistro Hüfferstift</a></td></tr>
						<tr><td><a href="Mensen/kabu">Bistro KaBu</a></td></tr>
						<tr><td><a href="Mensen/katho">Bistro Katholische Hochschule</a></td></tr>
						<tr><td><a href="Mensen/oeconomicum">Bistro Oeconomicum</a></td></tr>
					</tbody>
				</table>
		</div>

	</div>
</div>